[Unit]
Description=Docker Hosts Service
After=docker.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/mathijs/git/docker/docker-hosts
ExecStart=/home/mathijs/git/docker/docker-hosts/docker-hosts.py --file=/etc/hosts
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target